/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: #111827; /* Tailwind gray-900 */
  color: white;
  font-family: 'Inter', sans-serif;
}

/* REMOVE DEFAULT REACT STYLES */
.App {
  min-height: 100vh;
}